<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
        .file_drop_area {
            width: 200px;
            height: 200px;
            border: 2px dashed blue;
            background-image: url('img/file.png');
            background-repeat: no-repeat;
            background-position: center;
        }
        .active {
            background: #ddd;
        }
        #file{
          display:none;
        }
    </style>
    <script>
    
    </script>
</head>
<body>
	<div class="file_drop_area"></div>
	<input type="file" name="file" id="file">
</body>
</html>







