<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
        .file_drop_area {
            width: 200px;
            height: 200px;
            border: 2px dashed blue;
            background-image: url('img/file.png');
            background-repeat: no-repeat;
            background-position: center;
        }
        .active {
            background: #ddd;
        }
        #file{
          display:none;
        }
    </style>
    <script>
    	window.onload = () => {
    		let file_area = document.querySelector('.file_drop_area');
    		let file_tag = document.querySelector('#file');

    		
    		file_area.ondrop = (e) => {
    			e.preventDefault();
    			//console.log(e);
    			//드롭된 파일 리스트 가져오기
    			const data = e.dataTransfer;
    			console.log(data);
    			console.log(data.files);
    		}
    		file_area.ondragover = (e) => e.preventDefault();
    		file_area.ondragenter = (e) => e.preventDefault();
    		file_area.ondragleave = (e) => e.preventDefault();
    	}
    </script>
</head>
<body>
	<div class="file_drop_area"></div>
	<input type="file" name="file" id="file">
</body>
</html>







