<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	section{
		width: 1200px;
		margin:0 auto;
	}
	
	section form {
		display: flex;
		flex-direction: column;  
	}
	form > * {
		margin-top :10px;
	}
	.form_bar > button{
		width: 49%;
		box-sizing: border-box;
		font-size: 20px;
		height: 50px;
		
	}
	section h2{
		text-align: center;
	}
	section form > input{
		height: 30px;
		font-size: 20px;
	}
	section form > textarea{
		height: 300px;
		font-size: 20px;
		resize: none;
	}
	.ck-editor__editable_inline {
	    min-height: 500px;
	}
</style>
<script src="/js/ckeditor.js"></script>
<script src="/js/UploadAdapter.js"></script>
<script>
function uploadAdaterPlugin(editor){
	editor.plugins.get('FileRepository').createUploadAdapter = (loader) => {
		return new UploadAdapter(loader);
	}
}
function generateFileTag(){
	let aLength = document.querySelectorAll('.file_list > a').length;
	let fileLength = document.querySelectorAll('input[name=dfile]:checked').length;
	console.log(document.querySelectorAll('input[name=dfile]:checked').length);
	document.querySelector('.new_list').innerHTML = '';
	for(let i=0;i<3-aLength+fileLength;i++){
		let tag = document.createElement('input');
		tag.type='file';
		tag.name='file';
		document.querySelector('.new_list').appendChild(tag);
	}
}

window.onload = () => {
	let myEditor = null;
    ClassicEditor
        .create( document.querySelector( 'textarea' ),
		{
				extraPlugins:[uploadAdaterPlugin]
		})
        .then(editor => {
        	myEditor = editor;
        })
        .catch( error => {
            console.error( error );
        } );
    generateFileTag();
    document.querySelectorAll('input[name=dfile]').forEach((item,idx) =>{
    	console.log(item);
    	item.onclick = generateFileTag;
    });
 }
	
</script>
<link href="/css/menu.css" rel="stylesheet">

</head>
<body>
<th:block th:if="${session.user == null}">
	<script>
		alert('로그인 하셔야 이용하실 수 있습니다.');
		location.href = '/login/view';
	</script>
</th:block>
	<th:block th:include="/fragments/header.html"></th:block>
	<section>
		<h2>글쓰기</h2>
		<form action="/board/update" method="post" enctype="multipart/form-data">
			<input type="hidden" name="boardNo" th:value="${board.boardNo}">
			<input type="text" name="boardTitle" placeholder="제목을 입력하세요" th:value="${board.boardTitle}">
			<textarea name="boardContent" placeholder="내용을 입력하세요">[(${board.boardContent})]</textarea><br>
			<tr>
			 	<div class="file_list">
				 <th:block th:if="${!fileList.isEmpty() }" th:each="file : ${fileList }">
				 	<a th:href="@{/file(bno=${file.bno },fno=${file.fno})}" download>[[${file.fileName}]]</a>
				 	<label><input type="checkbox" name="dfile" th:value="${file.fno}">삭제</label><br>
				 </th:block>
				 <div class="new_list"></div>
				 				 
			 	</div>
			 </tr>	 
			<div class="form_bar">
				<button type="submit" class="btn_submit">수정하기</button>
				<button type="button" class="btn_back">뒤로가기</button>
			</div>
		</form>
	</section>
</body>
</html>




