<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/css/menu.css" rel="stylesheet">
<style>
	
	*{
		margin:0;
		padding:0;
	}
	.member_profile{
		width: 48px;
		height: 48px;
		border-radius: 24px;
	}
	body{
		height:3000px;
	}
	table{
		border-collapse: collapse;
		margin: 20px auto;
		width: 1200px;
	}
	td, th{
		padding:10px;
		border: 1px solid black;
		text-align: center;
	}
</style>
</head>
<body>
	<th:block th:include="/fragments/header.html"></th:block>
  	<hr>
  	<table>
  		<thead>
  			<tr>
  				<th>프로필</th>
  				<th>아이디</th>
  				<th>이름</th>
  				<th>닉네임</th>
  				<th>회원등급</th>
  				<th>비고</th>
  			</tr>
  		</thead>
  		<tbody>
	  		<tr th:each="member : ${memberList}">
	  			<td>
	  				<img th:if="${member.boardMemberProfile != 0}" th:src="@{/file/ajax/down/{fno}(fno=${member.boardMemberProfile})}" class="member_profile">
	  				<img th:if="${member.boardMemberProfile == 0}" src="/img/profile.png" class="member_profile">
	  			</td>
	  			<td><input type="text" class="boardMemberId" th:value="${member.boardMemberId}" readonly></td>
	  			<td><input type="text" class="boardMemberName" th:value="${member.boardMemberName}"></td>
	  			<td><input type="text" class="boardMemberNick" th:value="${member.boardMemberNick}"></td>
	  			<td>
	  				<select class="boardMemberGrade">
	  					<th:block th:each="grade : ${gradeList}">
		  					<option th:value="${grade.gradeNo}" th:selected="${grade.gradeNo == member.boardMemberGrade}">[[${grade.gradeName}]]</option>
	  					</th:block>
	  				</select>
	  			</td>
	  			<td>
	  				<button class="btn_update">수정</button>	
	  				<button class="btn_delete">삭제</button>	
	  			</td>
	  		</tr>
  		</tbody>
  	</table>
</body>
</html>