<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
.container {
	width: 1200px;
	margin: 0 auto;
}

h2 {
	text-align: center;
}

.container ul {
	list-style-type: none;
}

.container li {
	width: 100%;
	text-align: center;
}

.container li > form > * {
	font-size: 1.5em;
	padding: 10px 5px;
	text-align: center;
}
</style>
<script src="/js/jquery-3.7.1.min.js"></script>
<script type="text/javascript">
	$(function(){
		//수정 버튼 클릭 등급번호, 등급명을 경고창으로 띄움
		$(".btn_update").click((e) => {
			console.log($(e.target).parent().children('input'));
			console.log($(e.target).prevAll('input'));
			console.log($(e.target).siblings('input'));
			//jquery foreach 문
			let param = '';
			/* $.each($(e.target).siblings('input'),(index, item) => {
				console.log($(item).val());
				param += `${$(item).attr('class')}=${$(item).val()}&`; 
			}); */
			param = $(e.target).parent().serialize();
			console.log(param);
			$.ajax({
				url : '/grade/update',
				type : 'PUT',
				data : param,
				dataType : 'json',
				success: function(result){
					console.log(result);
				}
			});
		});
	});
</script>
</head>
<body>
	<th:block th:include="/fragments/header.html"></th:block>
	<!-- 
		회원 등급이 0인 회원만 해당 페이지에 있게끔 처리
		회원 등급이 0이 아니면 접근 권한이 없습니다. 경고창 출력 후 main.html로 이동
	-->
	<th:block
		th:if="${session.user != null && session.user.boardMemberGrade != 0}">
		<script>
			alert('접근 권한이 없습니다.');
			location.href = '/main';
		</script>
	</th:block>
	<h2>회원 등급 관리 페이지</h2>
	<div class="container">
		<ul>
			<!-- 회원 등급 출력  -->
			<li th:each="grade : ${list}">
				<form>
					<input type="number" name="gradeNo" class="grade_no" th:value="${grade.gradeNo}" readonly> 
					<input type="text" name="gradeName" class="grade_name" th:value="${grade.gradeName}">
					<button type="button" class="btn_update">수정</button>
					<button type="button" class="btn_delete">삭제</button>
				</form>
			</li>
		</ul>
	</div>



</body>
</html>






