<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:include="/fragments/header.html"></th:block>
	<!-- 
		회원 등급이 0인 회원만 해당 페이지에 있게끔 처리
		회원 등급이 0이 아니면 접근 권한이 없습니다. 경고창 출력 후 main.html로 이동
	-->
	<th:block th:if="${session.user != null && session.user.boardMemberGrade != 0}">
  		<script>
  			alert('접근 권한이 없습니다.');
  			location.href='/main';
  		</script>
  </th:block>
  <h2>회원 등급 관리 페이지</h2>
 	
 	<ul>
	 	<!-- 회원 등급 출력  -->
 		<li>
 			<input type="number" class="grade_no" value="">
 			<input type="text" class="grade_name" value="">
 			<button class="btn_update">수정</button>
 			<button class="btn_delete">삭제</button>
 		</li>
 	</ul>
  
  
</body>
</html>






