<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
  table {
    border-collapse: collapse;
    margin: 30px auto;
  }
  
  td, th {
    padding: 10px;
    font-size: 1.3em;
    border: 1px solid black;
    text-align: center;
  }
  </style>
  <script src="/js/jquery-3.7.1.min.js"></script>
	<script type="text/javascript">
		$(function(){
			$('.btn_search').click(function(){
				alert($(this).parent().serialize());
			})
		});
	</script>
</head>
<body>
  	<th:block th:include="/fragments/header.html"></th:block>
  <table>
  	<thead>
			<tr>
				<td colspan="4">
					<form>
						<label>
							<input type="checkbox" name="gradeNo" value="0"> 0
						</label>
						<label>
							<input type="checkbox" name="gradeNo" value="1"> 1
						</label>
						<label>
							<input type="checkbox" name="gradeNo" value="2"> 2
						</label>
						<label>
							<input type="checkbox" name="gradeNo" value="3"> 3
						</label>
						<label>
							<input type="checkbox" name="gradeNo" value="4"> 4
						</label>
						<button type="button" class="btn_search">조회</button>
					</form>

				</td>
			</tr>
  		<tr>
  			<th>아이디</th>
  			<th>이름</th>
  			<th>닉네임</th>
  			<th>회원 등급</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr th:each="member : ${list}">
  			<!-- <td><a th:href="@{/member/{id}(id=${member.boardMemberId},passwd=${member.boardMemberPasswd})}">[[${member.boardMemberId}]]</a></td> -->
  			<td><a th:href="@{/member/{id}(id=${member.boardMemberId})}">[[${member.boardMemberId}]]</a></td>
  			<!--링크 속성값 http://localhost:9999/member/en6842 -->
  			<td th:text="${member.boardMemberName}"></td>
  			<td>[(${member.boardMemberNick})]</td>
  			<td th:utext="${member.boardMemberGrade}"></td>
  		</tr>
  	</tbody>
  </table>
</body>
</html>






