<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  <!-- 로그인이 안되어 있으면 index.html로 이동 -->
  <th:block th:if="${session.user == null}">
  		<script>
  			alert('로그인 하셔야 이용하실 수 있습니다.');
  			location.href='/';
  		</script>
  </th:block>
  <ul th:if="${session.user != null}" class="main_menu">
    <li><a href="/">홈</a></li>
    <li><a href="/main">회원목록</a></li>
    <li th:if="${session.user.boardMemberGrade == 0}"><a href="/member/register/view">회원추가</a></li>
    <li th:if="${session.user.boardMemberGrade == 0}"><a href="/grade">등급관리</a></li>
    <li><a href="/logout">로그아웃</a></li>
  </ul>
  
</body>
</html>






