<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style> 
  input, select {
    width: 300px;
    text-align: center;
    font-size: 1.5em;
    box-sizing: border-box;
  }
</style>
</head>
<body>
  <h2>회원가입 페이지</h2>
  <form action="/member/insert" method="post">
    <input type="text" name="boardMemberId"/><br>
    <input type="password" name="boardMemberPasswd" placeholder="암호 입력"/><br>
    <input type="text" name="boardMemberName" placeholder="이름 입력"/><br>
    <input type="text"  name="boardMemberNick" placeholder="닉네임 입력"/><br>
    <br>
    <button>가입하기</button>
    <button type="button" id="btn_back">뒤로가기</button>
  </form>
  <script>
  	document.querySelector("#btn_back").onclick = () => {
		history.back();
  	}
  </script>
</body>
</html>






