<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.StudentMapper">
	<resultMap type="student" id="student">
		<id column="STD_NO" property="studentNo"/>
		<result column="STD_NAME" property="studentName"/>
		<result column="STD_SCORE" property="studentScore"/>
		<result column="STD_GENDER" property="studentGender"/>
		<result column="MAJOR_NO" property="majorNo"/>
	</resultMap>
		

	<select id="selectAllStudent" resultMap="student">
		select * from student
	</select>

	<delete id="deleteStudent" parameterType="string">
		delete from student where std_no = #{value}
	</delete>
	
	<update id="updateStudent" parameterType="student">
		update student set std_name = #{studentName}, 
		std_score = #{studentScore}, std_gender = #{stduentGender},
		major_no = #{majorNo}
		where std_no = #{studentNo}
	</update>
</mapper>



